# Trivial files
*.class
*~
*.diff
*.patch
*.swp
*.out

# Package Files #
*.jar
*.war
*.ear

# Folders #
build/
bin/
private_doc/
libs/
node_modules/
coverage/

# Project factets
.classpath
.project
.settings
.gradle
gradle.properties

# Generated Java stubs (with Apache-CXF)
src/main/java/com/tlswe/awsmock/ec2/cxf_generated/*.java
