<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="WebApp_ID" version="2.5">
    <display-name>aws-mock</display-name>
    <listener>
    	<listener-class>com.tlswe.awsmock.common.listener.AppServletContextListener</listener-class>
    </listener>
    <servlet>
        <description></description>
        <display-name>MockEc2EndpointServlet</display-name>
        <servlet-name>MockEc2EndpointServlet</servlet-name>
        <servlet-class>com.tlswe.awsmock.ec2.servlet.MockEc2EndpointServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MockEc2EndpointServlet</servlet-name>
        <url-pattern>/ec2-endpoint/*</url-pattern>
    </servlet-mapping>
</web-app>
